extends ../layout

block content

    //- Header
    .l-margin-start
    //- Edit character main section header
    if url.endsWith('/characters')
        .l-divider
            .c-divider__left
                h1 Editar Personajes
            .c-divider__right
    //- New, edit and character search headers
    else
        a.l-divider(href=`/users/characters`)
            .c-divider__left
                //- New character header
                if url.endsWith('/newcharacter')
                    h1 &#10525; Personaje Nuevo
                //- Search character header
                else if url.endsWith('/search')
                    h1 &#10525; Editar Personajes: Búsqueda
                //- Edit character header
                else
                    h1 &#10525; Editar Personajes: #{character.name}
            .c-divider__right

    //- Main and search character sections
    if url.endsWith('/characters') || url.endsWith('/search')
        .l-main-content
            //- Validation Errors
            if errors
                h2 Please fix the following errors:
                ul
                    each error in errors
                        li= error.msg
                        
            //- Edit character search bar
            .l-search
                form.c-search(action=`/users/characters/search` method='post' autocomplete='off')
                    .c-search__input
                        label(for='name') Nombre
                        input(type='text' name='name' id='name' placeholder='Buscar personaje por nombre')
                    .c-search__input
                        label(for='relationship') Relacion
                        input(type='text' name='relationship' id='relationship' placeholder='Buscar personaje por relacion')
                    .c-search__input
                        label(for='place') Lugar
                        input(type='text' name='place' id='place' placeholder='Buscar personaje por lugar')
                    .c-search__input
                        label(for='race') Raza
                        input(type='text' name='race' id='race' placeholder='Buscar personaje por raza')
                    .c-search__input--button
                        button.c-button--large.m-clickable(type='submit') Buscar

            //- Create character button
            .l-margin--2
            .l-ability-points-grid.grid--3
                div
                a.c-button--large.m-clickable(href=`/users/characters/newcharacter`) Nuevo Personaje
                div
            
            //- Character display cards
            .l-margin--3
            .l-cards--4
                each character in characters
                    a.c-card(href=`/users/characters/edit/${character._id}`)
                        .c-card__header
                            .c-card__header-left
                                h2 #{character.name}
                            .c-card__header-right
                        if character.image != '' && character.image != undefined
                            img.c-card__image(src=`http://res.cloudinary.com/duezou4td/image/upload/${character.image}.png` alt=`${character.name}'s Image`)
                        else
                            img.c-card__image(src=tmpImg)

    //- New character section
    else if url.endsWith('/newcharacter')
        .l-main-content
            //- Validation Errors
            if errors
                h2 Por favor corrija lo siguiente:
                ul
                    each error in errors
                        li= error.msg

        form.c-editchar-form(action='' method='post' enctype='multipart/form-data' autocomplete='off')
            .l-main-content.l-editchar-grid
                //- Character image, summary, and appearance sidebar
                .l-text-wrap
                    label.l-margin-right--1(for='image') Subir imagen:
                    input(type='file' name='image')
                    
                    //- Character summary
                    .c-basic-info
                        h3 Resumen
                        .c-editchar-form__input
                            label(for='title') Título:
                            input#titleinput(type='text' name='title' placeholder='Mago de Orzov')
                        .c-editchar-form__input
                            label(for='affiliation') Afiliación:
                            input#affiliationinput(type='text' name='affiliation' placeholder='Convento de Magos')
                        .c-editchar-form__input
                            label(for='place') Lugar de Origen o donde fué conocido:
                            input(type='text' name='place' placeholder='Orzov')
                        .c-editchar-form__input
                            label(for='age') Edad:
                            input(type='number' name='age' min='0' placeholder='--')
                        .c-editchar-form__input
                            label(for='race') Raza:
                            input(type='text' name='race' placeholder='Enano')
                        .c-editchar-form__input
                            label(for='class') Clase:
                            input(type='text' name='class' placeholder='Wizard/Mago')
                        .c-editchar-form__input
                            label(for='size') Tamaño:
                            input(type='text' name='size' placeholder='Small/Chico')
                    
                    //- Character appearance
                    .c-basic-info
                        h3 Apariencia
                        .c-editchar-form__input
                            textarea(name='appearance' rows='5' placeholder='Enano sin ropa, tiene una barba metálica larga que le cubre el cuerpo.')

                //- Character name and description section
                div
                    input#charnameinput(type='text' name='name' placeholder='Nombre del Personaje' required)
                    
                    .l-margin--2
                    .c-editchar-form__input
                        textarea.js-ckeditor(name='summary' placeholder='Escribe el resumen o la historia de este personaje aquí.' data-ckeditor='default')
            
            //- Create character button
            .l-main-content.l-clearleft       
                .l-margin--2
                button.c-button--large.m-clickable(type='submit') Crear Personaje
    
    //- Edit character section
    else
        .l-main-content
            //- Validation Errors
            if errors
                h2 Por favor corrija lo siguiente:
                ul
                    each error in errors
                        li= error.msg
                        
        form.c-editchar-form(action='' method='post' enctype='multipart/form-data' autocomplete='off')
            .l-main-content.l-editchar-grid
                //- Character image, summary, and appearance sidebar
                .l-text-wrap
                    //- If character image exists, display it. Else, just display upload option
                    if character.image != '' && character.image != undefined
                        img.l-text-wrap__image(src=`http://res.cloudinary.com/duezou4td/image/upload/${character.image}.png` alt=`${character.name}'s Image`)
                        .l-margin--2
                            label.l-margin-right--1(for='image') Cambiar imagen:
                            input(type='file' name='image')
                    else
                        label.l-margin-right--1(for='image') Subir imagen:
                        input(type='file' name='image')
                    
                    //- Character summary
                    .c-basic-info
                        h3 Resumen
                        .c-editchar-form__input
                            label(for='title') Título:
                            input#titleinput(type='text' name='title' placeholder='Mago de Orzov' value=(character.title || null))
                        .c-editchar-form__input
                            label(for='affiliation') Afiliación:
                            input(type='text' name='affiliation' placeholder='Convento de Magos' value=(character.affiliation || null))
                        .c-editchar-form__input
                            label(for='place') Lugar de Origen o donde fué conocido:
                            input(type='text' name='place' placeholder='Orzov' value=(character.place || null))
                        .c-editchar-form__input
                            label(for='age') Edad:
                            input(type='number' name='age' min='0' placeholder='--' value=(character.age || null))
                        .c-editchar-form__input
                            label(for='race') Raza:
                            input(type='text' name='race' placeholder='Enano' value=(character.race || null))
                        .c-editchar-form__input
                            label(for='class') Clase:
                            input(type='text' name='class' placeholder='Wizard/Mago' value=(character.class || null))
                        .c-editchar-form__input
                            label(for='size') Tamaño:
                            input(type='text' name='size' placeholder='Small/Chico' value=(character.size || null))
                    
                    //- Character appearance
                    .c-basic-info
                        h3 Apariencia
                        .c-editchar-form__input
                            textarea(name='appearance' rows='5' placeholder='Enano sin ropa, tiene una barba metálica larga que le cubre el cuerpo.')=(character.appearance || null)

                //- Character name and description section
                div
                    input#charnameinput(type='text' name='name' placeholder='Onorim' value=(character.name) required)

                    .l-margin--2
                    .c-editchar-form__input
                        textarea.js-ckeditor(name='summary' placeholder='Escribe el resumen o la historia de este personaje aquí.' data-ckeditor='default')= character.summary || ''
            
            //- Save changes and delete character buttons
            .l-main-content.l-clearleft       
                .l-margin--2
                button.c-button--large.m-clickable.l-margin-right--1(type='submit' name='deletecharacter' value='false') Guardar Cambios
                button.c-button--large.m-clickable.m-background-red(type='submit' name='deletecharacter' value='true') Borrar Personaje